
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    当前项目：Book.Somethingwhat.App
    <br />
    <p>注意：本站点的接口只可用作学习测试使用，千万不要用在线上环境哦！</p>
    <p>有疑问，可加群：875607244</p>
    <br />
    <a href="http://www.somethingwhat.com">个人站点：www.somethingwhat.com</a>
    <br /><br />
    <a href="https://github.com/keroroqingwa/book.somethingwhat.com">github：https://github.com/keroroqingwa/book.somethingwhat.com</a>
    <br /><br />
</body>
</html>